.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.find__friend {
    margin-bottom: 15px;
}
.friend .friend__avatar {
    width: 50px;
    border-radius: 56% 62% 49%;
}
.friend__avatar.g-avatar {
    width: 70px;
}
.friend__avatar.m-avatar {
    width: 60px;
}
.friend .friend__column {
    display: flex;
    align-items: center;
}
.friend .friend__avatar {
    margin-right: 15px;
}
.friend__content .friend__name {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}
.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
    opacity: 0.6;
}
.friend__content .friend__bottom-text {
    font-size: 14px;
}
.friend__content .friend_status,
.friend .chat__timestamp {
    font-size: 12px;
}
.friend .friend__now-listening {
    padding: 6px 11px 3px;
    /* border-radius: 51% 60% 48% 53%; */
    border-radius: 20px;
    border: 1px solid #61d1c4;
    font-size: 14px;
}
.friend__now-listening span {
    opacity: 0.7;
}
.friend__now-listening i {
    font-size: 12px;
    color: #28b1a1;;
}
.friend__add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #81eee1;
    padding: 10px;
    border-radius: 10px;
}
.friend__column .friend__my,
.friend__column .friend__poocon {
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 30px;
    margin-right: 3px;
    width: 60px;
    text-align: center;
}
.friend__column .friend__poocon i {
    color: #5cebda;
}