.friends .friends__plus {
    padding: 20px 0;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    margin: 20px 0px;
}
.friends__plus .friends__title,
.friends__list .friends__title {
    font-size: 14px;
    opacity: 0.6;
    /* margin-bottom: 10px; */
}
.friends__friend {
    margin: 10px 0 0;
}
.friend__column .friend__channel-icon {
    background-color: #81eee1;
    padding: 10px;
    border-radius: 56% 62% 49%;
    font-size: 25px;
    margin-right: 18px;
}
.friend__column .friend__name .friend__name-ad {
    border: 1px solid #bbbbbb;
    font-size: 11px;
    color: #bbbbbb;
    padding: 0 3px;
    border-radius: 10px;
}
.chats__chat {
    margin-bottom: 20px;
}
.message__content-column {
    display: flex;
    justify-content: space-between;
}
